<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.negociodigital.boomday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BoomDayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BoomDay">

        <!-- MAIN ACTIVITY (LAUNCHER ÚNICO) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH TEST (solo debug) -->
        <activity
            android:name=".debug.AuthTestActivity"
            android:exported="false" />

    </application>

</manifest>
